:root{
  --text-color:white
}
html, body{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas{
  /* border: 1.5px solid black; */
  background-color: black;
  display: block;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.wrapper{
position: absolute;
top: 0px;
color: var(--text-color);
font-size: 14px;
z-index: 1;
height: 100%;
width: 80%;
text-align: center;
display: flex;
flex-direction: column;
}
.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header-title{
font-size: 3em;
margin-top: 1em;
}


.description{
  padding:1em;
  width: 80%;
  font-size: 1.25em;
  text-align: center;
}

.section-selector{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-icon{
  cursor: pointer;
  font-size: 9vw;
  margin:5px;
}

.section-icon:hover{
  animation:  shake 0.8s  ;
}

@keyframes shake{
  0%{
    transform: translateX(0)
  }
  25%{
    transform: translateX(10px);
  }
    
  50%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}

.section-title{
  font-size: 1.9em;
}

.section-education{
  font-size: 1.4em;
}


.projects-and-research{
  height: 20em;
  overflow-y: scroll;
}
.section-coding{
  font-family: Consolas;
  font-size: 1.3em;
  align-content: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.programming-language{
  background-color: blue;
  padding: 0.2em;
  border-radius: 0.2em;
  width: fit-content;
  text-align: center;
  align-self: center;
 
}


.section-languages{
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  
}


.language-item{
  background-color: #34495e;
  color: white;
  width: fit-content;
  padding: 0.3em;
  border-radius: 0.2em;
}

.list-item{
  margin-top: 0.5em;
}

.profile-section-header{
  cursor:pointer;
  display: flex;
  flex-direction:column;
  text-align:center;  
}

.icon-image{
  margin: 1em;
}

.icon-image:hover{
  opacity: 50%;
}



.fade-in-item-first {
  animation: 0.5s linear 0s forwards fadeIn;
  -webkit-animation:  2s linear 0s forwards fadeIn;
}

.fade-in-item-second {
  opacity: 0;
  animation: 0.5s linear 1s forwards fadeIn;
  -webkit-animation:  2s linear 3s forwards fadeIn;
}

@keyframes fadeIn {
  from {
    transform: translateY(3em);
    opacity: 0
  }

  to {
    transform: translateY(0em);
    opacity: 1
  }
}


.appearing-item {
  animation-duration: 0.5s;
  animation-name: slidein;
}

.disappearing-item {
  animation-duration: 0.5s;
  animation-name: slideout;
}

@keyframes slidein {
  from {
    font-size: 50%;
  }

  75% {
    font-size: 110%;
  }

  to {
    font-size: 100%;
  }
}

@keyframes slideout {
  from {
    font-size: 100%;
  }

  to {
    font-size: 0%;
  }
}

.colorchanging-item {
  animation-duration: 10s;
  animation-name: colorchanging;
}

@keyframes colorchanging {
  from {
    color: black;
  }

  40% {
    color: orange
  }

  60% {
    color: blue
  }

  80% {
    color: green
  }

}

.get-in-touch-page{
  height: 100vh;
  width: 100vw;
  background-color: #30336b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-in-touch-header{
  font-size: 4em;
  margin:1em;
  font-weight: bold;
  color: azure;
}

.email-text{
  margin:50px;
  width: 100%;
  text-align: center;
  font-size: 5vh;
  color: white;
}

.social-media-icon{
  margin:10px;
}
.social-media-icon:hover{
  animation:  shake 0.8s  ;
}
.social-media-bar{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (hover: none) and (pointer: coarse){

  /* Regular CSS rules here*/
  
  }

