canvas{
  background-color: white;
  display: block;
  z-index: -1;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.wrapper{
  display: flex;
  top: 0px;
  color: black;
  font-size: 14px;
  z-index: 1;
  height: 100%;
  width: 100%;
  align-content:center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
