#root{
  width: 100%;
  height: 100%;
}
html,body{
  width: 100%;

}
.tictactoeContainer{
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #34495e;
    color: white;
  }
  .tagLine{
    margin-top: 2em;
    font-style: italic;
  }
  .appDescriptionRow{
    justify-content: center;
    margin:2em;
    vertical-align: middle;
  }
  
  .appIcon{
    border-radius: 1em;
    width: 7em;
    height: 7em;
    border-style: solid;
  }
  .appIcon:hover{
    background-color: #2c3e50;
  }
  
  .appTitle{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    margin: 0.25em;
    justify-content: center;
  
  }
  
  .gallery{
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden; 
  }
  
  .galleryPhoto{
    width:10em;
    margin-left: 2em;
    border-radius: 1em;
  }
  
  .descriptionBody{
    margin-top: 2em;
    text-align: justify;
  }
  
  .descriptionTitle{
    font-size: 1em;
    margin-top: 1em;
    font-weight: bold;
  } 
  
  .flexRow{
    display: flex;
    flex-direction: row;
  }
  
  .flexColumn{
    display: flex;
    flex-direction: column;  
  }
  
  .supportRow{
    margin-top:1em;
    flex-direction: column;
  }
  
  .copyrightRow{
    font-size: 0.7em;
    padding: 1em;
  }
  
  .privacyPolicy{
    padding: 1em;
  }